{
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "object-curly-newline": "off",
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "@typescript-eslint/indent": [
      "warn",
      2
    ],
    "import/prefer-default-export": "off",
    "import/export": "off",
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      {
        "ts": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          "ts"
        ]
      }
    }
  }
}
